body {
  background: black;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  max-width: 500px;
}

.glitch {
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px #ff0066, -2px -2px #00eaff;
}

.avatar-container {
  margin: 20px 0;
}

.avatar {
  width: 260px;
  border-radius: 20px;
  border: 3px solid white;
  box-shadow: 0 0 25px #ff009d;
}

button {
  background: #ff009d;
  border: none;
  padding: 12px 20px;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 15px;
}

button:hover {
  background: #ff4fc8;
}

textarea {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  resize: none;
}
